<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>

		<meta name="og:title" content="Presson Ponderings- About" />
		<title>Presson Ponderings | Blog</title>
	</head>
	<body>
		<%- include('./partials/_header.ejs') %>
		<div class="about-page-wrapper">
			<!-- STATS SECTION -->
			<div class="stats-section">
				<h1 class="about-me">ABOUT SIMPLE REFELCTIONS</h1>
				<img
					src="data:image/png;base64,<%=blog.profileImage%>"
					alt="profile image"
					class="stats-section_image"
				/>
				<h2 class="stats-section_subscribers">
					Subscribers: <span id="subscribers-count"><%=count %> </span
					><span class="hidden-value hidden-value-subscribers"
						><%=count%>
					</span>
				</h2>

				<div class="hr stats-section_hr"></div>
				<div class="stats-section_stats-wrapper">
					<h2 class="total-posts">
						<span class="hidden-value hidden-value-posts"
							><%= postCount %>
						</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							enable-background="new 0 0 24 24"
							height="24px"
							viewBox="0 0 24 24"
							width="24px"
							fill="#97bb5d"
						>
							<path d="M0,0h24v24H0V0z" fill="none" />
							<g>
								<path
									d="M19.5,3.5L18,2l-1.5,1.5L15,2l-1.5,1.5L12,2l-1.5,1.5L9,2L7.5,3.5L6,2v14H3v3c0,1.66,1.34,3,3,3h12c1.66,0,3-1.34,3-3V2 L19.5,3.5z M15,20H6c-0.55,0-1-0.45-1-1v-1h10V20z M19,19c0,0.55-0.45,1-1,1s-1-0.45-1-1v-3H8V5h11V19z"
								/>
								<rect height="2" width="6" x="9" y="7" />
								<rect height="2" width="2" x="16" y="7" />
								<rect height="2" width="6" x="9" y="10" />
								<rect height="2" width="2" x="16" y="10" />
							</g>
						</svg>

						<span id="posts-count"><%=postCount%> </span>
					</h2>

					<h2 class="total-likes">
						<span id="likes-count"><%=commentCount%> </span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 0 24 24"
							width="24px"
							fill="#97bb5d"
						>
							<path d="M0 0h24v24H0V0z" fill="none" />
							<path
								d="M15 4v7H5.17L4 12.17V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"
							/>
						</svg>
						<span class="hidden-value hidden-value-likes"
							><%=commentCount %>
						</span>
					</h2>
				</div>
				<div class="hr stats-section_hr"></div>
				<div class="about-page-sm-icons">
					<%- include('./partials/_all-icons.ejs') %>
				</div>
				<div class="hr stats-section_hr"></div>
				<button class="subscribe-button">SUBSCRIBE</button>
			</div>

			<p class="about-me-section"><%- blog.aboutMyself %></p>
		</div>
		<%- include('./partials/_footer.ejs') %>
		<script src="./js/index.js"></script>
		<script src="./js/about.js"></script>
	</body>
</html>
