<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>

		<meta name="og:title" content="presson ponderings - Contact" />
		<title>presson ponderings | Blog</title>
	</head>
	<body>
		<%- include('./partials/_header') %>
		<div class="contact-wrapper">
			<div class="contact-form-left">
				<h1 class="all-posts-title">CONTACT ME</h1>
				<img src="/images/contact-img.png" class="contact-svg"/>

				<p class="contact-me-parragraph"><%-blog.contactInfo%></p>
			</div>

			<div class="contact-form-left">
				<form class="contact-form" action="/contact" method="post">
					<div>
						<label for="contact-form-name"
							>Name <span class="contact-form-asterisk">*</span></label
						>
						<input
							type="text"
							name="name"
							maxlength="100"
							id="contact-form-name"
							required
						/>
					</div>
					<div>
						<label for="contact-form-email">Email</label>
						<input
							type="email"
							name="email"
							maxlength="100"
							id="contact-form-email"
						/>
					</div>
					<div>
						<label for="contact-form-tel">Phone Number</label>
						<input type="tel" name="phone" id="contact-form-tel" />
					</div>
					<div>
						<label for="contact-form-message">Enter Your Message</label>
						<textarea
							name="message"
							id="contact-form-message"
							cols="30"
							rows="10"
							maxlength=""
							placeholder=""
							required
						></textarea>
					</div>
					<button class="contact-form-button" type="submit">SEND</button>
				</form>
			</div>
		</div>
		<%- include('./partials/_footer.ejs') %> <%-
		include('./partials/_scripts.ejs') %>
	</body>
</html>
