<!-- attempting to bring in CK Editor into the mix, currently in dev mode
see partials/ckeditor...  -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<script src="/ckeditor-ready-to-go-pkg/ckeditor.js"></script>
		<script src="/ckeditor-ready-to-go-pkg/samples/js/sample.js"></script>
		<link rel="stylesheet" href="/ckeditor-ready-to-go-pkg/samples/css/samples.css" />
		<link
			rel="stylesheet"
			href="toolbarconfigurator/lib/codemirror/neo.css"
		/>
		<title>presson ponderings | Blog</title>
	</head>
	<body>
		<%- include('./partials/_header') %>
		<div class="spacer-account"></div>
		<div class="text-editor-wrapper">
			<h1 class="title title-new">CREATE A NEW POST</h1>
			<div class="post-title-content-wrapper">
				<input
					class="CKE-post-title"
					name="title"
					type="text"
					maxlength="40"
					placeholder="Post's Title (required)"
					required
				/>
				<input
					class="CKE-post-content"
					name="content"
					type="text"
					maxlength="150"
					placeholder="Post's Description (required)"
					required
				/>
				<input
					class="CKE-post-author"
					name="author"
					type="text"
					maxlength="150"
					placeholder="Name of author"
					required
				/>
				<label for="">
					Select Your Post's Thumbnail
					<div class="spacer"></div>
				</label>
					
					<input
						id="postImage"
						type="file"
						onchange="showResult( this.files[0]);"
						accept=".png, .jpg, .jpeg"
						class="hidden-input"
					/>
				
				<p class="max-file-size">( Max file size is 3MB )</p>
			</div>
			<div class="imagePost-preview">
				<img
					src="data:image/png;base64,<%=blog.logo%>"
					alt="image preview"
					id="result"
					class="image-result_U-1-2"
				/>
			</div>
			<div class="dorpdown dropdown-category dorpdown-new">
				<div class="tagWrapper"></div>
				<div class="standard-h3">Choose the Category for this post (only one tag per post)</div>
				<br />
				<div class="dropdown-button">
					Your Categories
					<div class="dropdown-button-arrow"></div>
				</div>
				<% blog.categories.forEach((category)=>{ %>
				<div class="dorpdown-option" value="<%=category%>">
					<%=category%>
				</div>
				<% }) %>
			</div>

		<!-- CKEditor starts -->
		<main>
			<div class="adjoined-top">
			<div class="adjoined-bottom">
				<div class="grid-container">
					<div class="grid-width-100">
						<div id="editor">
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- Ckeditor Ends -->
			<div class="standard-h3 standard-h3-mediaEmbed">
				Enter Embeding Link Here
			</div>
			<textarea
				name="embededVideo"
				id="CKE-post-embedVideo"
				cols="30"
				rows="10"
			>
			</textarea>

			<div id="youtube-link-converter">
				Are you embeding a youtube video?
				<p>
					if you are embeding a Youtube link please past it below to
					convert it to an iframe link
				</p>
				<input
					type="text"
					name="youtube-link-converter-link"
					id="youtube-link-converter-link"
				/>
				<div id="getYT-data">Convert to iframe Link</div>
				<p id="YT-res-message"></p>
				<div id="YT-res-video"></div>
				<div id="YT-res-data"></div>
			</div>

			<div class="posts-buttons-new">
				<label for="ball-1" class="switch-wrapper">
					<div class="standard-h3 standard-h3-mediaEmbed">
						Do you want to send an email to your subscribers when this
						post is published?
					</div>
					<input
						id="ball-1"
						type="checkbox"
						name="sendEmail"
						value="sendemail"
					/>
					<div class="switch  switch-middle_U-1-2"><div class="switch_ball"></div></div>
				</label>
			</div>

			<div class="posts-buttons">
				<div class="cancel-post cancel-post-erase-all">ERASE ALL</div>
				<div id="submitPost" class="send-post">POST</div>
			</div>
		</div>
		<%- include('./partials/_profile-menu.ejs') %> 
        <%- include('./partials/_footer.ejs') %>
		<script>
			initSample();
			CKEDITOR.replace('editor')
		</script>
<!-- TESTING  ============================= -->
			<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/decoupled-document/ckeditor.js"></script>
		<script src="/js/CKE-editor-full-pkg.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
