<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>

		<meta name="revised" content=<%=post.created%> />
		<meta name="og:title" content=<%=post.title%> />
		<meta property="og:url" content="http://xharccoal.org/see-post/<%=post.id%>" />
		<meta
		property="og:description"
		content=<%=post.content%>
		/>

		<title>vanilla blog | <%=post.title%></title>
	</head>
	<body>
		<%- include('./partials/_header') %>
		<div class="big-spacer"></div>
		<h1 class="all-posts-title-profile"><%=post.title%></h1>
		<div class="CKPost-wrapper--date-author">
			<p class="std-p">Posted On: <span><%=post.created%></span></p>
			<p class="std-p">Written By: <span><%=post.author%></span></p>
		</div>
		<div class="CKPost-wrapper-ck-fill-pkg"><%-post.postContent%></div>

		<%- include('./partials/_footer.ejs') %>
		<script src="/js/new.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/send-post.js"></script>
	</body>
</html>
